build
Pods
Podfile.lock
PIPSLY.xcworkspace
PIPSLY.xcodeproj/xcuserdata/kiwitech.xcuserdatad/xcschemes/PIPSLY.xcscheme
PIPSLY.xcodeproj/xcuserdata/kiwitech.xcuserdatad/xcschemes/
PIPSLY.xcodeproj/xcuserdata/kiwitech.xcuserdatad/xcschemes/xcschememanagement.plist
PIPSLY.xcodeproj/xcuserdata/amol.xcuserdatad/xcschemes/PIPSLY.xcscheme
PIPSLY.xcodeproj/xcuserdata/amol.xcuserdatad/xcschemes/PIPSLY.xcscheme
PIPSLY.xcodeproj/xcuserdata/amol.xcuserdatad/xcschemes/xcschememanagement.plist
PIPSLY.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/PIPSLY.xcscheme
PIPSLY.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/PIPSLY.xcscheme
PIPSLY.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist